@model IEnumerable<DeviantArtFs.Stash.Marshal.StashNode>

@{
    ViewData["Title"] = "View Stack";
}

<h2>View Stack</h2>

@foreach (var node in Model)
{
    var meta = node.BclMetadata;
    string url = meta.Itemid is long itemid
        ? $"/Home/ViewItem?itemid={itemid}"
        : $"/Home/ViewStack?stackid={meta.Stackid}";
    <div>
        @if (meta.Thumb?.Src != null)
        {
            <img align="left" src="@meta.Thumb.Src" style="max-width: 128px; max-height: 128px" />
        }
        @if (meta.Files != null)
        {
            var smallest = meta.Files
                .Where(f => f.Width * f.Height > 0)
                .OrderBy(f => f.Width * f.Height > 0)
                .FirstOrDefault();
            if (smallest != null)
            {
                <img align="left" src="@smallest.Src" style="max-width: 128px; max-height: 128px" />
            }
        }
        <h3><a href="@url">@meta.Title</a></h3>
        <p>@(meta.Itemid ?? meta.Stackid)</p>
        <p>@meta.Description</p>
    </div>
    <div style="clear: both"></div>
    <hr />
}