@using DeviantArtFs
@model DeviantArtPagedResult<Deviation>

@{
    ViewData["Title"] = "View Gallery";
}

<h2>@ViewData["Title"]</h2>

@foreach (var d in Model.results.Where(x => !x.is_deleted))
{
    if (d.GetIsMature() == true)
    {
        <div>Mature content hidden - edit Views/Gallery/Index.cshtml to show</div>
        continue;
    }

    var thumb = d.GetThumbs()
        .OrderBy(x => x.width >= 128 && x.height >= 128 ? 0 : 1)
        .ThenBy(x => x.width * x.height)
        .Select(x => x.src)
        .FirstOrDefault();
    <div>
        @if (thumb != null)
        {
            <img align="left" src="@thumb" style="max-width: 128px; max-height: 128px" />
        }
        <h3><a href="@d.GetUrl()">@d.GetTitle()</a></h3>
        <p>@d.GetPublishedTime()</p>
    </div>
    <div style="clear: both"></div>
    <hr />
}

<div style="text-align: center">
    @if (Model.GetHasMore() == true)
    {
        <a href="@Url.Action("Index", new {
            username = ViewBag.Username,
            folderId = ViewBag.FolderId,
            offset = Model.GetNextOffset(),
            limit = ViewBag.Limit
        })">Next</a>
    }
</div>