@using DeviantArtFs
@model IBclDeviantArtFolderPagedResult

@{
    ViewData["Title"] = Model.Name ?? "View Gallery";
}

<h2>@ViewData["Title"]</h2>

@foreach (var d in Model.Results)
{
    if (d.IsMature)
    {
        <div>Mature content hidden - edit Views/Gallery/Index.cshtml to show</div>
        continue;
    }

    var thumb = d.Thumbs
        .OrderBy(x => x.Width >= 128 && x.Height >= 128 ? 0 : 1)
        .ThenBy(x => x.Width * x.Height)
        .Select(x => x.Src)
        .FirstOrDefault();
    <div>
        @if (thumb != null)
        {
            <img align="left" src="@thumb" style="max-width: 128px; max-height: 128px" />
        }
        <h3><a href="@d.Url">@d.Title</a></h3>
        <p>@d.PublishedTime</p>
    </div>
    <div style="clear: both"></div>
    <hr />
}

<div style="text-align: center">
    @if (Model.HasMore)
    {
        <a href="@Url.Action("Index", new {
            username = ViewBag.Username,
            folderId = ViewBag.FolderId,
            offset = Model.NextOffset,
            limit = ViewBag.Limit
        })">Next</a>
    }
</div>