@using DeviantArtFs
@model IEnumerable<DeviantArtGalleryFolder>

@{
    ViewData["Title"] = $"{ViewBag.Username} - Gallery Folders";
}

<h2>@ViewBag.Username - Gallery Folders</h2>

<ul>
    <li>
        <a href="@Url.Action("Index", "Gallery", new { Username = ViewBag.Username, Limit = 5 })">
            All
        </a>
    </li>
    @foreach (var f in Model)
    {
        <li>
            <a href="@Url.Action("Index", "Gallery", new { Username = ViewBag.Username, Limit = 5, FolderId = f.folderid })">
                @f.name
            </a>
            @if (f.size.OrNull() != null) {
                @:(@f.size.OrNull())
            }
        </li>
    }
</ul>

<small><em>Only the first 100 folders are listed.</em></small>