@model DeviantArtFs.Examples.WebApp.Models.FeedModel
@{
    ViewData["Title"] = "Feed";
}

<h2>Feed</h2>

@foreach (var f in Model.Items)
{
<div style="border: 1px solid black; border-radius: 2px; margin-bottom: 8px">
    @if (f.ThumbnailUrl != null)
    {
        <a href="@f.Url">
            <img src="@f.ThumbnailUrl" style="float: left; width: 150px; min-height: 100px; max-height: 150px; object-fit: contain; margin-right: 8px" />
        </a>
    }

    @if (f.Title != null)
    {
        <b>
            <big>
                <a href="@f.Url">@f.Title</a>
            </big>
        </b>
        <br />
        <br />
    }

    <a href="https://deviantart.com/@f.Username"><img align="top" src="@f.Usericon" alt="" /></a>
    <b>@f.Username</b>

    <div style="clear: both"></div>

    @if (f.HTMLDescription != null)
    {
        <br />
        @Html.Raw(f.HTMLDescription)
    }
</div>
}

@if (Model.HasMore)
{
<hr />
<p align="center">
    <a href="/Feed?cursor=@Model.Cursor">Next</a>
</p>
}