@using DeviantArtFs.Pages
@using DeviantArtFs.ResponseTypes
@using Microsoft.FSharp.Core
@model FolderPage
@{
    ViewData["Title"] = "View Gallery";
}

<h2>@ViewData["Title"]</h2>

@foreach (var d in Model.results) {
    if (OptionModule.ToNullable(d.is_mature) == true) {
        <div>Mature content hidden - edit Views/Gallery/Index.cshtml to show</div>
        continue;
    }

    var thumb = OptionModule.DefaultValue([], d.thumbs)
        .OrderBy(x => x.width >= 128 && x.height >= 128 ? 0 : 1)
        .ThenBy(x => x.width * x.height)
        .Select(x => x.src)
        .FirstOrDefault();
    <div>
        @if (thumb != null) {
            <img align="left" src="@thumb" style="max-width: 128px; max-height: 128px" />
        }
        <h3><a href="@OptionModule.ToObj(d.title)">@OptionModule.ToObj(d.title)</a></h3>
        <p>@OptionModule.ToNullable(d.published_time)</p>
    </div>
    <div style="clear: both"></div>
    <hr />
}

<div style="text-align: center">
    <a href="@Url.Action("Index", new {
        username = ViewBag.Username,
        folderId = ViewBag.FolderId,
        offset = OptionModule.ToNullable(Model.next_offset),
        limit = ViewBag.Limit
    })">Next</a>
</div>